@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    /*-webkit-touch-callout: none;*//* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
    box-sizing: border-box;
}

html, body, .main_container{-ms-overflow-style: none; scrollbar-width: none; position: absolute; top: 0; right: 0; margin: 0; padding: 0; width: 100% !important; height: 100% !important;}
html::-webkit-scrollbar {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0); width: 0px;}
body::-webkit-scrollbar {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0); width: 0px;}


body{ background-color: rgb(127, 255, 148) ;}
.main_container{ display: flex; flex-direction: row;}





.logo_container{ display: flex; flex-direction: row; justify-content: center;  align-items: center; padding-top: 20px; padding-bottom: 20px; cursor: pointer; text-decoration: none;}
.logo_textbox{ display: flex; flex-direction: column; justify-content: center;  align-items: center; color: #feffff; margin-right: 20px;}
.logo_textbox span{display: inline-block; white-space: nowrap;}
#logo_title{ font-family: 'Playfair Display', serif; font-weight: 400; font-size: 26px;}
#logo_subtitle{ font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 20px;}
.logo_svg{ width: 50px; fill: #cec13f; }




.navbar{ position: absolute; top: 0; right: 0; width: 100%;  height: fit-content;}
#hamburger_toggle{ width: 0px; height: 0px; position: absolute; top: 0;}
#hamburger_toggle, #hamburger_close_icon{display: none;}
.hamburger{ float: right; margin: 10px 0px; padding: 25px; border: none; cursor: pointer; background-color: #301221; }
.hamburger_svg{ width: 25px; fill: #cec13f; margin: 0; padding: 0;}




/* ------------------------------------ SIDEBAR ------------------------------------*/
.sidebar, #open_sidebar{ /*position: fixed;*/ top: 0; left: 0; display: block; width: 310px; min-height: 100%; margin: 0; padding: 0; background-color: #4b1b31; font-family: 'Roboto', sans-serif; z-index: 9999;}
.sidebar_content{ padding: 0px 25px; height: fit-content; background-color: #4b1b31; display: flex; flex-direction: column; justify-content: space-between; margin: 0 auto; }
#sidebar_scroll{position: relative; top: 0; left: 0; width: 100%; overflow-y: scroll; }
#sidebar_scroll::-webkit-scrollbar {background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0); width: 0px;}

#userbox{ font-size: 28px; color: #cec13f; padding: 20px 0px; border-bottom: 1px solid #301221; }
.sidebar_element{ border-bottom: 1px solid #301221; }

.dropdown_btn{ padding: 20px 0px; display: flex; flex-wrap: nowrap; align-items: center; justify-content: space-between; cursor: pointer;}
.dropdown_checkbox{ display: none; }
.dropdown_title{ font-size: 28px; color: #ffffff;}
.dropdown_icon{ width: 14px; fill: #cec13f;}

.dropdown_list{ padding: 0px; padding-left: 22px; margin: 0px; margin-bottom: 20px; display: none; list-style-type: square;}
.dropdown_list li, .dropdown_list li a{ font-size: 18px; padding: 0px; margin: 0px;}
.dropdown_list li{ margin-bottom: 10px; color: #ffffff; width: 100%; }
.dropdown_list li a{ cursor: pointer; color: #ffffff; text-decoration: none; display: block; width: 100%; }

.dropdown_list li::marker{color: #cec13f;}
.dropdown_list li:hover, .dropdown_list li a:hover{ color: #cec13f; }

#sidebar_close{ font-size: 20px; text-align: center; background-color: #301221; color: #cec13f; padding: 10px 0px; width: 100%; margin: 25px 0px; border: none; cursor: pointer;}
/* ------------------------------------ SIDEBAR ------------------------------------*/


/* ------------------------------------ SECTION_CONTAINER ------------------------------------*/
.section_container{ width: fit-content; font-family: 'Roboto', sans-serif; background-color: red; /*width: calc(100% - 50px);*/ margin: 0px 25px; margin-top: 100px;}
.section{ display: flex; flex-direction: column; overflow: hidden;}
/* ------------------------------------ SECTION_CONTAINER ------------------------------------*/


/* ------------------------------------ SECTION_NEW-STUDENT ------------------------------------*/
.section_title{ margin: 10px 0px; padding: 0; font-size: 46px;}
.new_student_element{ width: 326px; padding: 10px; font-size: 20px; margin: 10px 0px; border: 0; display: block;}
#student_name{ margin-top: 16px; }
#student_submit{ border: 0; padding: 20px 10px; text-decoration: 0; background-color: #cec13f; color: #ffffff; cursor: pointer;}
#student_unicode_label{ padding: 0px; margin-bottom: 0px; margin-top: 25px;}
#student_unicode{ background-color: #000000; color: #cec13f; word-wrap: break-word; }


select {color: #757575;}
option:not(:first-of-type) { color: #000000; }
/*Added for browser compatibility*/
[hidden] {display: none;}


.selection_active{

    cursor: text;

    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    
    -ms-user-select: text;
    user-select: text;

    /*-webkit-touch-callout: none;*//* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.box_container{ display: flex; align-items: center; }
.side_button{ border: 0; padding: 10px 15px; background-color: transparent; cursor: pointer;}
#button_copy{ display: none; }
#icon_copy{ width: 20px; fill: #cec13f;}
/* ------------------------------------ SECTION_NEW-STUDENT ------------------------------------*/



.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



@media screen and (max-width: 825px){ .sidebar,#open_sidebar,.sidebar_content{width: 100%;} .section_container{ margin-left: 0; margin-right: 0;} }
@media screen and (max-width: 385px){ 
    
    .sidebar_content{ padding-left: 5%; padding-right: 5%;}
    .logo_textbox{display: none;}
    .logo_svg{ width: 65px; }

    #userbox{ font-size: 25px; }
    .dropdown_title{ font-size: 25px; }
    #sidebar_close{ font-size: 18px; }

}