*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;


    -webkit-tap-highlight-color: transparent;
    outline: none;

    /*-webkit-touch-callout: none;*//* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
}

html, body{-ms-overflow-style: none; scrollbar-width: none; position: absolute; width: 100% !important;}
html, body, img {margin: 0; padding: 0; display: block; width: 100%;}

/* -------------- Font  -------------- */
@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('fonts/Gotham-Black.woff') format('woff');
         /*url('https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff') format('woff');*/
         /*url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');*/
}
@font-face {
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('fonts/Gotham-Light.woff') format('woff');
         /*url('https://fonts.cdnfonts.com/s/14898/Gotham-Light.woff') format('woff');*/
         /*url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');*/
}
/* -------------- Font  -------------- */

body{background-color: #ffffff;}

.main_container{max-width: 720px; display: block; margin: 0 auto; background-color: #ffffff; margin-bottom: 120px;}
.box_container{width: 90%; display: block; margin: 0 auto; padding-top: 5%; padding-bottom: 5%; overflow: hidden;}

#header__light_logo{display: block;}
#header__dark_logo{display: none;}

.header__logo{min-width: 165px;}
.hero_section{margin-top: 10%;}

h1{font-family: 'Gotham Black'; font-style: normal; font-size: 25px;}
h3, p, a{font-family: 'Gotham Light'; font-style: normal;}

h3{font-size: 17.5px;}
h1,h3{margin: 0; padding: 0;}




h3, a{font-weight: bold;}
p,.onebody_text{font-weight: 500;}
a{text-decoration: none;}



.h1-title-paragraph-text{ padding: 30px 0px 0px 0px; display: block;}
.paragraph-text{line-height: 1.6; font-size: 16px; margin: 20px 0px; display: block}

.breakline-text{content: "" !important; display: block !important; margin-bottom: 20px !important;}
.fake-textspace{visibility: hidden;}



.onebody_text{white-space: nowrap; word-break: keep-all}

.info_message{padding: 0; margin: 30px auto; line-height: 1.4;}
.info_message,.onebody_text,a{font-size: 18px;}
.please_note{padding: 0; margin: 0; font-size: 16px; font-style: italic; hyphens: auto;}

#nav_container{ margin: 30px 0;}


/* -------------------------- LH: LINK HUB STYLE -------------------------- */
.nav_item_hitbox-LH{display: block; width: 100%; height: 80px; float: left; text-decoration: none;}
.nav_item_content-LH{

    display: inline-flex;
    align-items: center;
    justify-content: left;
    
    position: relative;
    top: 10%;

    width: 100%;
    height: 80%;

    background-color: #e7e7e7;
    color: #000000;
}
.nav_item_svg-LH{min-width: 30px; max-width: 30px; padding-left: 15px; padding-right: 15px; color: #000000;}
.nav_item_span-LH{font-family: 'Gotham Black'; font-size: 20px; white-space: nowrap;}


#patreon_color{ fill: #f86754;}
#buymecoffee_color{ fill: #f7bd00; }
/* -------------------------- LH: LINK HUB STYLE #ffc300 -------------------------- */



.nav_item_hitbox{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 0px;

    float: left;

    background-color: #e7e7e7;
    cursor: pointer;
}
.nav_item_svg{min-width: 35px; max-width: 35px;}
.social_icon_bg{fill: #ffffff;}

#youtube_svg{ fill: #ff0000;}
#facebook_svg{ fill: #008CFF;}
#instagram_svg{ fill: #bc1888;}
#linkedin_svg{ fill: #008CFF;}



ul, li{
    margin: 0;
    padding: 0;

    font-family: 'Gotham Light';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    list-style: none; 
    
    width: 100%;
    color: #808080;
}
li{padding-bottom: 5px;}
.credits_details{display: inline-block;}


.h1-title-paragraph-text, .paragraph-text, .list-text, .list-item{ color: #000000; }


.list-text{ padding: 0; margin: 0; padding-left: 30px; width: fit-content;}
.list-text, .list-item{ list-style: outside;  font-size: 16px; }
.list-item{ padding-bottom: 10px; }

.listed-paragraph-text .list-item{ line-height: 1.6; padding-bottom: 30px;}
.highlighted-text{background-color: #ebebeb; color: #000000; font-weight: bold; font-size: 17px;}



@keyframes loading-circle-animation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading-circle-wrapper{
    /*background-color: #ff0000;*/
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}
.loading-circle{
    display: flex;
    align-items: center;
    animation: loading-circle-animation 1.3s linear infinite;
    animation-play-state: running;
}
#loading-circle-full{fill: #ffffff;}
#loading-circle-quarter{fill: #008CFF;}



.iframe-wrapper{
    background-color: #e7e7e7;
    /*background-color: transparent;*/
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    
    /*margin: 20px 0px;*/
    margin: 0px;
}
.iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}



.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */



@media screen and (min-width: 425px){

    h1,.h1-title-paragraph-text{font-size: 30px;}
    h3{font-size: 17.5px;}

    .info_message{hyphens: auto;}

    .nav_item_span-LH{font-size: 25px;}

}
@media screen and (min-width: 795px) and (min-height: 635px){.main_container{box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);} body{background-color: #fcfcfc;}}
@media screen and (min-width: 768px) and (min-height: 768px){.main_container{margin-top: 75px;}}

@media screen and (max-width: 330px){ h1,.h1-title-paragraph-text{font-size: 20px;}}
@media screen and (max-height: 475px){ .hero_section{margin: 0;}header{display: none;}}




@media screen and (prefers-color-scheme: dark){

    body, .main_container{background-color: #1e1e1e;}

    h1, h3, p, ul, li{color: #cccccc;}
    .h1-title-paragraph-text, .paragraph-text, .list-text, .list-item, .nav_item_content-LH{ color: #cccccc; }
    .highlighted-text{background-color: #000000; color: #ffffff;}

    .nav_item_hitbox, .iframe-wrapper, .nav_item_content-LH{background-color: #333333;}

    .social_icon_bg{display: none;}
    #youtube_svg, #facebook_svg, #instagram_svg, #linkedin_svg{ fill: #cccccc;}

    #header__light_logo{display: none;}
    #header__dark_logo{display: block;}


    #loading-circle-full{fill: #1e1e1e;}
    #loading-circle-quarter, .nav_item_svg-LH, #patreon_color, #buymecoffee_color{fill: #cccccc;}


}