/* -------------- Font  -------------- */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Roboto'),
        url('../fonts/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('Roboto'),
        url('../fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/
/* -------------- Font  -------------- */


*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
    box-sizing: border-box;
}

html, body{ position: absolute; top: 0; left: 0; margin: 0; padding: 0; width: 100% !important; min-height: 100% !important; height: fit-content; overflow-x: hidden; overflow-y: auto;}
html, body{ font-family: 'Roboto', sans-serif; font-weight: 400; }


/* --------------------------------- LOGIN --------------------------------- */
.login_container{ display: flex; flex-direction: row; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; margin: 0px; padding: 0px; overflow: hidden; background-color: #ffffff; }
.login_content, .info_content{ display: flex; align-items: center; justify-content: center; position: relative; width: 50%; height: 100vh; margin: 0px; padding: 0px; overflow: hidden; }
#login_section{ background-color: #222222; background-image: url("img/loginBackground.webp"); background-repeat: no-repeat; background-position: center; background-size: cover; }
#info_section{ background-color: #ffffff; }
#login_section_background{ position: absolute; top: 0; width: auto; height: 100%; margin: 0px; padding: 0px; opacity: 1; }


.login_wrapper{ display: block; width: fit-content; height: fit-content; margin: 0px; padding: 20px; background-color: rgba(24, 25, 26, 0.8); z-index: 1; border: 2px solid #1a1818; }
.login_business_logo{ display: flex; flex-direction: row; align-items: center; width: fit-content; height: fit-content; margin: 0px auto; margin-bottom: 40px; padding: 0px; }
.login_business_icon{ display: block; width: auto; height: 54px; margin: 0px; padding: 0px; fill: #ffffff; }
.login_business_name{ display: block; width: auto; height: 54px; margin: 0px; margin-left: 20px; padding: 0px; padding-left: 20px; fill: #ffffff; border-left: 1px solid #aaaaaa; }
.login_title{ display: flex; flex-direction: row; align-items: center; width: fit-content; height: fit-content; margin: 20px auto; padding: 0px; }
.login_title__svg{ display: block; width: auto; height: 28px; margin: 0px; margin-right: 12px; padding: 0px; fill: #ffffff; }
.login_title__h1{ display: block; font-size: 24px; margin: 0px; padding: 0px; color: #ffffff; }
.login_form{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.login_form__element{ display: block; width: 100%; height: fit-content; font-size: 20px; margin: 0px; padding: 10px; border: 0px; border-radius: 0px; background-color: #ffffff; }
.login_form__btn{ display: block; text-align: center; color: #ffffff; margin-top: 20px; cursor: pointer; text-decoration: none; }
#signIn_btn{ background-color: #008CFF; }
#signUp_btn{ background-color: #01b321; }


.info_wrapper{ display: block; width: fit-content; height: fit-content; margin: 0px; padding: 0px; background-color: #ffffff; }
.info_business_logo{ display: flex; flex-direction: row; align-items: center; width: fit-content; height: fit-content; margin: 0px auto; margin-bottom: 40px; padding: 0px; }
.info_business_icon{ display: block; width: auto; height: 54px; margin: 0px; padding: 0px; fill: #000000; }
.info_business_name{ display: block; width: auto; height: 54px; margin: 0px; margin-left: 20px; padding: 0px; padding-left: 20px; fill: #000000; border-left: 1px solid #aaaaaa; }
.info_contact_nav{ display: block; width: fit-content; height: fit-content; margin: 0px; padding: 0px; font-size: 18px; font-weight: 400; }
.info_contact_nav__element{ display: block; width: fit-content; height: fit-content; margin: 0px; margin-bottom: 20px; padding: 0px; color: #000000; text-decoration: none;}
.info_contact_nav__element:last-of-type{ margin: 0px; }
.info_contact_nav__element span{ display: block; margin: 0px; padding: 0px; }
.info_contact_nav__element__title{ font-weight: 700; }
.info_social_nav{ display: flex; flex-direction: row; align-items: center; width: fit-content; height: 80px; margin: 0px; padding: 0px; }
.info_social_nav__element{ display: flex; align-items: center; width: fit-content; height: 100%; margin: 0px; padding: 0px 10px; }
.info_social_nav__element:first-of-type{ padding-left: 0px; }
.info_social_nav__element svg{ display: block; width: 40px; margin: 0px; padding: 0px; }
.info_copyright_paragraph{ display: block; height: fit-content; color: #000000; font-size: 14px; font-weight: 400; margin: 0px; padding: 0px; }
.info_copyright_paragraph_breakline{ content: "" !important; display: block; margin-bottom: 0px !important; }
.facebook_svg{ fill: #008CFF; }
.instagram_svg{ fill: #ec00ff; }
.youtube_svg{ fill: #ff0000; }

@media screen and (max-width: 1090px){
    .login_container{ flex-direction: column; justify-content: flex-start; }
    .login_content, .info_content{ width: 100%; height: fit-content;}
    .login_wrapper{ margin: 60px 0px; }
    .info_wrapper{ margin: 60px 20px; }
}
@media screen and (max-width: 435px){
    .login_wrapper{
        width: 100%;
        margin: 0px;
        padding: 60px 20px;
        border: 0px;
        background-color: rgba(24, 25, 26, 0.5);
    }
    .login_business_logo{ margin-bottom: 60px; }
}
@media screen and (max-width: 375px){
    .login_business_icon{ height: 64px; }
    .login_business_name{ display: none; }

    .info_business_logo{ margin: 0px; margin-bottom: 40px; }
    .info_business_icon{ display: none; }
    .info_business_name{ height: 44px; margin: 0px; padding: 0px; border: 0px; }
}
@media screen and (max-width: 285px){
    .login_title__svg{ display: none; }
    .login_title__h1{ text-align: center; }
}
/* --------------------------------- LOGIN --------------------------------- */






/*------------------------------------- Developer Credits -------------------------------------*/
.developer_container{ display: block; width: 100%; height: fit-content; margin: 60px 0px 120px 0px; display: flex; justify-content: center; background-color: #f5f5f5; padding: 20px 0px; text-decoration: none; }

.developer_content{ width: fit-content; }
.developer_madeby{ font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 20px; margin: 0px; margin-bottom: 10px; width: 100%; color: #707070; text-align: center; text-decoration: none; }
.developer_logo{ width: 200px; }
.developer_copyright{ font-family: 'Roboto', sans-serif; font-size: 16px; margin: 0px; margin-top: 10px; width: 100%; color: #707070; text-align: center; text-decoration: none;}

#login_developer_container{ position: absolute; bottom: 0px; right: 0px; margin: 0px; padding: 20px; width: fit-content; background-color: transparent; }
#login_developer_container .developer_madeby{ font-size: 18px; }
#login_developer_container .developer_logo{ width: 170px; }
#login_developer_container .developer_copyright{ font-size: 14px; }

@media screen and (max-width: 1090px){
    #login_developer_container{ position: relative; margin: 0px; margin-top: 40px; padding: 20px 0px; width: 100%; background-color: #f5f5f5; }
    #login_developer_container .developer_madeby{ font-size: 20px; }
    #login_developer_container .developer_logo{ width: 200px; }
    #login_developer_container .developer_copyright{ font-size: 16px; }
}
/*------------------------------------- Developer Credits -------------------------------------*/