@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    /*-webkit-touch-callout: none;*//* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
    box-sizing: border-box;
}

html, body{-ms-overflow-style: none; scrollbar-width: none; position: absolute; top: 0; right: 0; margin: 0; padding: 0; width: 100% !important; min-height: 100% !important; height: fit-content; overflow: auto; }
ul{list-style-type: none; padding: 0; margin: 0}


.fake-textspace{ visibility: hidden; }
.text-block{ display: inline-block; }


.main_container_login{ display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; background-color: #ffffff; }
.section_page{ float: left; width: 50%; height: 100%; display: flex; justify-content: center; align-items: center;}

.info_container{ padding: 0 20px;}
#login_section{ background-color: #e5e5e5;}
#info_section{ background-color: #ffffff;}
#info_section a, .footer a{ text-decoration: none; color: #000000; cursor: pointer;}
#info_section ul{ font-family: 'Roboto', sans-serif; }
#info__logo{ justify-content: left; padding-top: 0; padding-bottom: 20px;}
#info_title{ font-family: 'Playfair Display', serif; font-weight: 400; font-size: 26px;}
#info_subtitle{ font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 20px;}
#info_svg{ display: none; }

.login{ background-color: #4b1b31; width: fit-content; height: fit-content; font-family: 'Roboto', sans-serif; padding: 20px;}
#login__logo_container{ padding: 0; margin: 0; margin-bottom: 50px; padding-top: 10px;}
#login_textbox_white{ margin-right: 20px; }

#login_title{ font-family: 'Playfair Display', serif; font-weight: 400; font-size: 31px;}
#login_subtitle{ font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 24px;}
#login_svg{ width: 59px; fill: #cec13f; }

.login_element{ display: block; width: 100%; text-align: center; margin: 0; padding: 0; margin-bottom: 20px;}
#title_login{ color: #cec13f; font-size: 25px; font-weight: 400;}
#unicode_field{ border: 0; background-color: #301221; color: #e5e5e5; padding: 10px; text-align: left; font-size: 25px;}
::placeholder { color: #632544; /* Chrome, Firefox, Opera, Safari 10.1+ */ opacity: 1; /* Firefox */ }
#enter_btn{ background-color: #cec13f; color: #4b1b31; padding: 10px 20px; text-decoration: none; font-size: 25px; margin: 0;}










.header{ 
    width: 100%;
    height: fit-content;
    background-color: #4b1b31;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: fixed;
    z-index: 999;
}
.header__content, .title_wrapper{
    max-width: 1024px;
    margin: 0 auto;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*background-color: #00ff22;*/
}
.header__nav__ul, .header__nav__ul li{ padding: 0; margin: 0; }

.logo_container{ display: flex; flex-direction: row; justify-content: center;  align-items: center; padding-top: 20px; padding-bottom: 20px; cursor: pointer; text-decoration: none;}
.logo_textbox{ display: flex; flex-direction: column; justify-content: center;  align-items: center; color: #feffff; margin-right: 20px;}
.logo_textbox span{display: inline-block; white-space: nowrap;}
#logo_title{ font-family: 'Playfair Display', serif; font-weight: 400; font-size: 26px;}
#logo_subtitle{ font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 20px;}
.logo_svg{ width: 50px; fill: #cec13f; }

#header__logo{ margin-left: 1%; /*background-color: #00b1ff*/}
#footer__logo{ justify-content: left; }
#logo_textbox_black{ color: #000000; }

.header__nav{ margin-right: 1%; color: #cec13f; display: inline-block; white-space: nowrap; background-color: #4b1b31; }
.header__nav__ul li{ display: inline-block;}
.header__nav__ul li a{ margin: 0; padding: 20px 20px 20px 0px; font-size: 20px; display: block; text-decoration: none; color: #cec13f;}
#header_li02{ padding-right: 0px; /*background-color: #00b1ff;*/}


#header__hamburger, #hamburger_toggle{ display: none; }
.hamburger{ padding: 20px 0px 20px 20px; }
.hamburger_svg{ width: 25px; fill: #cec13f; }
#hamburger_close_icon{ display: none; }


.main_container{ max-width: 1024px; margin: 0 auto; /*background-color: #740000;*/ display: block;  min-height: 100% !important; height: fit-content; margin-top: calc(100px + 40px); }


.iframe_wrapper{
    background-color: #e7e7e7;
    /*padding-top: 56.25%;*/ /*standard*/
    padding-top: 55.1%; /*modified for margin 1%*/
    overflow: hidden;
    position: relative;
    margin: 0% 1%;
    /*margin-top: 40px;*/
    display: block;
}
.iframe_wrapper .iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
}
#player_container{ display: none; }
#player, .button_img{ width: 100%; height: 100%; display: block; /*min-width: 321px;*/ }
.ytp-pause-overlay{ display: none;}

#iframe_btn_thumbnail{ display: none; margin: 0; padding: 0; margin: 0; padding: 0; border: none; border-width: 0; background: none; text-decoration: none; cursor: pointer;}
#iframe_maps_wrapper{ padding: 0; margin: 0; margin-top: 40px; width: 100%; height: 500px;}


@keyframes loading-circle-animation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading-circle-wrapper{
    /*background-color: #ff0000;*/
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}
.loading-circle{
    display: flex;
    align-items: center;
    animation: loading-circle-animation 1.3s linear infinite;
    animation-play-state: running;
}
#loading-circle-full{fill: #ffffff;}
#loading-circle-quarter{fill: #cec13f;}


/*#download_files_section{ margin-top: 20px; }*/
.title_wrapper{ margin: 0% 1%; margin-top: 20px; margin-bottom: 20px; }
.title_wrapper{ font-family: 'Roboto', sans-serif; color: #7f7f7f;}
.title_wrapper h3{ font-weight: 400; font-size: 35px; padding: 0; margin: 0;}
.title_wrapper h5{ font-weight: 100; font-size: 25px; padding: 0; margin: 0;}


.contact_wrapper{ width: 98%; margin: 0 1%; padding: 0; }
.contact_wrapper, #contact_title, .contact_wrapper_paragraph, .bold_text{ font-family: 'Roboto', sans-serif;  color: #000000;}
#contact_title{ font-weight: 400; font-size: 30px; padding: 0; margin: 0; line-height: 1; }
.bold_text{ font-weight: bold; }

/*.boxes_wrapper { background-color: blue; }*/
.boxes_wrapper a{
    display: block;
    width:calc(94% / 3);
    height: 300px;

    float: left;
    margin: 1%;

    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;

    background-color: #4b1b31;
    color: #cec13f;
    cursor: pointer;
}
.boxes_wrapper span{ width: 85%; overflow: hidden; }
.boxes_wrapper a:active{ background-color: #cec13f; color: #4b1b31;}



/* Document Row */
.files_container{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.download_row{
    border: 0;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: #4b1b31;
    color: #cec13f;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}
.file_name__container{
    display: block;
    border: 0;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 100%;
    text-decoration: none;
    height: fit-content;
}
.file_name{
    /*display: inline-block;*/
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    height: fit-content;
    padding-left: 16px;
}
.download_btn__container{
    display: block;
    border: 0;
    color: #cec13f;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    padding: 1em;
    text-decoration: none;
    background-color: #cec13f;
    color: #4b1b31; cursor: pointer;
}
.download_row:hover, .download_row:active{ background-color: #3d1628; color: #ffffff; text-decoration: none; }
.download_btn__container:hover, .download_btn__container:active{ background-color: #dbc900; color: #ffffff; text-decoration: none; }
/* Document Row */



/* Document Grade Detail */
.grade_container{ 
    display: block;
    position: relative;

    display: block;
    width:98%;

    float: left;
    margin-top: 25px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    text-decoration: none;
    background-color: transparent;
    background: none;
    color: #7f7f7f;

}
.grade_text{ display: inline-block; z-index: 99; background-color: #ffffff; padding-right: 10px; font-family: 'Roboto', sans-serif; font-size: 20px; }
.grade_line{ display: block; position: absolute; left: 0; width: 100%; height: 1px; background-color: #7f7f7f;}
/* Document Grade Detail */



.section-text{ width: 98%; margin-left: 1%; margin-right: 1%; font-family: 'Roboto', sans-serif; color: #000000;}
.section-text h3{ font-weight: 400; font-size: 35px; padding: 0; margin: 0; }
.section-text h5{ font-size: 24px; font-weight: 400; margin-bottom: 10px; margin-top: 40px; padding: 0;}

.section-text p, .contact_wrapper_paragraph{ line-height: 1.6; font-size: 16px; font-weight: normal; margin: 0; padding: 0;}
.breakline-text{content: "" !important; display: block !important; margin-bottom: 16px !important;}

.footer{ 
    width: 98%;
    height: fit-content;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 1%;
    margin-right: 1%;
    
    /*background-color: #00ff22;*/
    font-family: 'Roboto', sans-serif;
}
.footer ul, .footer__li { font-size: 16px;}
.footer__li, .footer__social{ padding: 0; margin: 0; margin-bottom: 20px;}
.footer__span{font-weight: bold;}
.footer__copyright{ font-family: 'Roboto', sans-serif; width: 98%; display: block; margin: 0% 1%; font-size: 14px; margin-bottom: 60px;}


.nav_item_hitbox{ /*background-color: #00ff22;*/ height: fit-content; display: inline-block; margin: 0; padding: 0;}
.nav_item_svg{ width: 40px; }


.footer__social .nav_item_hitbox{ margin-right: 10px; }
#facebook_svg{ fill: #00b1ff; }
#instagram_svg{ fill: #ec00ff; }
#whatsapp_svg{ fill: #2fb844; }



.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


@media screen and (max-width: 1090px){ .section_page{ width: 100%; height: fit-content; align-items: normal; padding: 40px 0px;} .info_container{max-width: 414px}}
@media screen and (min-width: 920px){
    
    .header__content, .main_container{ padding-left: 10px; padding-right: 10px;}
    .boxes_wrapper a:hover{ background-color: #cec13f; color: #4b1b31;}
}
@media screen and (max-width: 920px){
    
    .main_container{ margin-left: 2%; margin-right: 2%; }
    #header__logo{ margin-left: calc(2% + 1.5%); }
    #header__hamburger{ margin-right: calc(2% + 1.5%); display: inherit;}

    .header__nav{display: none; position: absolute; top: 0px; transform: translateY(97px); padding-top: 4px; width: 100%; z-index: 99; border-bottom: 5px solid #ffffff;}
    .header__nav__ul { margin-left: calc(2% + 1.5%); margin-right: calc(2% + 1.5%);}
    .header__nav__ul li{ display: block;}
    .header__nav__ul li a{ text-align: center; padding: 20px 0px;}

    .boxes_wrapper a{ width:calc(94% / 2); margin: 1.5%; height: 250px;}
    .iframe_wrapper, .title_wrapper, .contact_wrapper, .section-text, .files_container, .footer, .footer__copyright{ width: 97%; margin-left: 1.5%; margin-right: 1.5%;}
}
@media screen and (max-width: 680px){

    #header__logo{ margin-left: calc(2% + 1%); }
    #header__hamburger{ margin-right: calc(2% + 1%); }
    .boxes_wrapper a{ width: 98%; margin: 10px 1%; height: 200px;}
    .iframe_wrapper, .title_wrapper, .contact_wrapper, .section-text, .files_container, .footer, .footer__copyright{ width: 98%; margin-left: 1%; margin-right: 1%;}

}
@media screen and (max-width: 480px){

    .main_container{ margin-top: calc(80px + 20px); }
    .boxes_wrapper a{ margin: 5px 1%; height: 150px; }
    .boxes_wrapper span{ font-size: 25px; }

    .logo_container{ padding-top: 15px; padding-bottom: 15px; }
    .logo_textbox{ margin-right: 15px;}
    #logo_title{ font-size: 22px;}
    #logo_subtitle{ font-size: 17px;}
    .logo_svg{ width: 43px; }

    .header__nav{transform: translateY(78px); padding-top: 4px;}
    
    .iframe_wrapper,#iframe_maps_wrapper{ margin-top: 30px; }

    /*#download_files_section{ margin-top: 15px; }*/
    .title_wrapper{ margin-top: 15px; margin-bottom: 15px; }
    .title_wrapper h3{ font-size: 25px; }
    .title_wrapper h5{ font-size: 20px; }

    .contact_title{ font-size: 30px; }

    .section-text h3, #contact_title{ padding-top: 10px;}
    .section-text h5{ margin-top: 30px;}
    .footer{ margin-top: 30px; margin-bottom: 30px; }
}
@media screen and (max-width: 430px){

    .login{ width: 100%; padding: 20px; padding-top: 0px;}
    #login_section{ background-color: #4b1b31;}
    #login__logo_container{ padding-top: 0;}
}
@media screen and (max-width: 360px){
    
    .main_container{ margin-top: calc(70px + 15px); }
    .download_row{ margin: 15px 0px; }

    .boxes_wrapper a{ height: 100px; }
    .boxes_wrapper span{ font-size: 20px; }

    .logo_textbox{ margin-right: 10px;}
    #logo_title{ font-size: 20px;}
    #logo_subtitle{ font-size: 15px;}
    .logo_svg{ width: 39px; }

    .iframe_wrapper{ margin-top: 20px; }

    .title_wrapper{ margin-top: 15px; margin-bottom: 15px; }
    .title_wrapper h5{ display: none; }

    .boxes_wrapper a{ font-size: 25px ;}

    .footer{ margin-top: 30px; margin-bottom: 30px; }
    #footer__logo{ margin-top: 20px; margin-bottom: 20px; padding: 0px; }
}
@media screen and (max-width: 360px){ 
    
    #logo_textbox_white, #login_textbox_white{ display: none; }

    .header__nav{transform: translateY(68px); padding-top: 4px;}

    .boxes_wrapper a{ font-size: 20px; }
    .footer__li{ font-size: 14px; }
    .nav_item_svg{ width: 30px; }
    .footer__copyright{ font-size: 12px;}

    .login_element, #title_login, #unicode_field, #enter_btn{ font-size: 20px;}

}