/* -------------- Font  -------------- */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Roboto'),
        url('fonts/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('Roboto'),
        url('fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/
/* -------------- Font  -------------- */


*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
    box-sizing: border-box;
}

html, body{ position: absolute; top: 0; left: 0; margin: 0; padding: 0; width: 100% !important; min-height: 100% !important; height: fit-content; overflow-x: hidden; overflow-y: auto;}
html, body{ font-family: 'Roboto', sans-serif; font-weight: 400; }




/*------------------------------------- PopUp Message -------------------------------------*/
.popup_message_container{ display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgba(0, 0, 0, 0.25); z-index: 9999; }
.popup_message_wrapper{ display: block; width: 100%; max-width: 645px; height: fit-content; margin: 0px auto; padding: 20px; background-color: #ffffff; }
.popup_message_h1{ display: flex; flex-direction: row; align-items: center; font-size: 24px; font-weight: 700; color: #000000; margin: 0px; padding: 0px; }
.popup_message_svg{ display: block; width: auto; height: 26px; margin: 0px; padding: 0px; fill: #a0a0a0; }
.popup_message_p{ display: block; height: fit-content; font-size: 16px; font-weight: 400; color: #000000; line-height: 1.4; margin: 20px 0px; padding: 0px; }
.popup_message_btn{ display: block; width: 100%; height: fit-content; font-size: 20px; font-weight: 400; background-color: #a0a0a0; color: #ffffff; margin: 0px; padding: 12px 0px; border: 0px; cursor: pointer; }
.noscroll{ overflow: hidden; }
/*------------------------------------- PopUp Message -------------------------------------*/








.main_container{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 0px; overflow: hidden; }
.whatsapp_shortcut{ display: block; position: fixed; bottom: 0px; right: 0px; margin: 0px; padding: 20px; z-index: 999;}
.whatsapp_shortcut svg{ display: block; width: 60px; height: auto; margin: 0px; padding: 0px; }


/* -------------------------------------------- NAVBAR -------------------------------------------- */
.aboveFold__navbar{ display: flex; position: relative; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; height: fit-content; margin: 0px; padding: 0px; z-index: 1; color: #ffffff; }
.aboveFold__logo{ display: block; width: fit-content; height: fit-content; margin: 0px; padding: 0px 20px; cursor: pointer; }
.aboveFold__logo svg{ display: block; width: auto; height: 44px; margin: 0px; padding: 0px; fill: #ffffff; }
.aboveFold__login{ display: block; font-size: 24px; margin: 0px; padding: 30px; color: #ffffff; background-color: transparent; cursor: pointer; text-decoration: none; }

.aboveFold_business_name{ display: block; }
.aboveFold_business_logo{ display: none; }
@media screen and (max-width: 465px){ .aboveFold_business_name{ display: none; } .aboveFold_business_logo{ display: block; } }
/* -------------------------------------------- NAVBAR -------------------------------------------- */



/* -------------------------------------------- ABOVE THE FOLD -------------------------------------------- */
.header_aboveFold{ display: block; position: relative; width: 100%; height: fit-content; min-height: 400px; margin: 0px; padding: 0px; background-color: #222222; overflow: hidden; }
.aboveFold_container{ display: block; max-width: 1025px; min-height: 400px; height: fit-content; margin: 0px auto; padding: 0px; background-image: url("img/sfondo_palestra_blackwhite.webp"); background-size: cover; }
.aboveFold_content{ display: flex; flex-direction: row; justify-content: space-between; width: 100%; height: fit-content; margin: 0px; padding: 0px 20px; position: relative; }
.aboveFold__text{ display: block; width: fit-content; height: 100%; margin: auto 0px; padding: 0px; z-index: 1; }
.aboveFold__breakline{ content: "" !important; display: block !important; margin-bottom: 0px !important; }
.aboveFold__title{ display: block; width: fit-content; height: fit-content; font-size: 50px; font-weight: 700; margin: 0px; padding: 0px; color: #ffffff; white-space: nowrap; }
.aboveFold__subtitle{ display: block; width: fit-content; height: fit-content; font-size: 20px; margin: 0px; margin-bottom: 10px; padding: 0px; color: #dbdbdb; }
.aboveFold__cta{ display: block; width: fit-content; height: fit-content; font-size: 20px; margin: 0px; margin-top: 40px; padding: 12px 26px; border: 0px; border-radius: 0px; background-color: #008CFF; color: #ffffff; cursor: pointer; }
.aboveFold__img{ display: block; width: 250px; height: auto; margin: 0px; margin-top: 60px; margin-right: 20px; padding: 0px; z-index: 1; }

.aboveFold__list_container{ display: block; width: 100%; height: fit-content; background-color: #e3e3e3; margin: 0px; padding: 0px; }
.aboveFold__list_element__breakline, .benefits__need__breakline{ content: "" !important; display: none; margin-bottom: 0px !important; }
.aboveFold__svg{ display: block; width: 24px; height: auto; margin: 0px; padding: 0px; fill: #000000; }
.aboveFold__info{ display: block; font-size: 14px; color: #000000; margin: 0px; margin-left: 10px; padding: 0px; }


.aboveFold__social_content{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; max-width: 1025px; height: fit-content; margin: 0px auto; padding: 0px 20px; }
.aboveFold__social_span{ display: block; font-size: 18px; font-weight: 700; color: #484848; white-space: nowrap; }
.aboveFold__nav{ display: flex; flex-direction: row; align-items: center; width: fit-content; height: 48px; margin: 0px; padding: 0px; }
.aboveFold__nav_element{ display: flex; align-items: center; width: fit-content; height: 100%; margin: 0px; padding: 0px; }
.aboveFold__nav_element svg{ display: block; width: 26px; height: fit-content; margin: 0px; padding: 0px; }
.aboveFold__nav :nth-child(2){ padding: 0px 20px; }

.aboveTheFold_h1_span_extra{ display: none; }
#aboveFold__breakline_second{ display: none; }

@media screen and (max-width: 860px){ .aboveFold__title{ font-size: 40px; } .aboveFold__list_element__breakline{ display: block; } .aboveFold__img{ width: 200px; margin-right: 0px; } }
@media screen and (max-width: 625px){ .aboveFold_container{ height: 440px;} .aboveFold_content{ margin: 60px 0px; } .aboveFold__text{ margin-top: 20px; } .aboveFold__title{ font-size: 35px; } .aboveFold__cta{ margin-top: 35px; } .aboveFold__img{ position: absolute; top: 0px; right: 0px; margin: 0px; width: 175px; } }
@media screen and (max-width: 555px){ .benefits__need__breakline{ display: block; } }
@media screen and (max-width: 465px){ .aboveFold_container{ min-height: 300px; height: fit-content; } .aboveFold_content{ margin-top: 60px; margin-bottom: 0px; padding-bottom: 60px; } .aboveFold__text{ margin-top: 0px; } .aboveFold__title{ white-space: normal; } .aboveTheFold_h1_span{ display: none; } .aboveFold__img{ display: none; } .aboveTheFold_h1_span_extra{ display: block; } .aboveTheFold_h1_space{ display: none; } #aboveFold__breakline_second{ display: block; }}
@media screen and (max-width: 370px){ .aboveFold__social_span{ margin: 10px 0px; margin-bottom: 5px; } .aboveFold__social_content{ flex-direction: column; justify-content: center; } .aboveFold__nav_element{ padding: 0px 15px; } .aboveFold__nav :nth-child(2){ padding: 0px 15px; } }
@media screen and (max-width: 345px){ .benefits__need__breakline{ display: none; }  }
/* -------------------------------------------- ABOVE THE FOLD -------------------------------------------- */





/* -------------------------------------------- BENEFITS -------------------------------------------- */
.benefits_section{ display: block; max-width: 1025px; margin: 40px auto; padding: 0px 20px; }
.benefits_list{ display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.benefits_list_element{ display: block; width: calc(25% - 20px); height: fit-content; margin: 0px; margin-bottom: 28px; padding: 20px; background-color: #01b321; overflow: hidden; }
.benefits_list_element_content{ display: block; width: fit-content; height: fit-content; margin: 0px auto; padding: 0px; }
.benefits_svg{ display: block; width: auto; height: 80px; margin: 0px auto; padding: 0px; fill: #ffffff; }
.benefits_h1{ display: block; font-size: 20px; font-weight: 400; width: fit-content; margin: 0px auto; margin-top: 20px; padding: 0px; text-align: center; word-break: break-word; color: #ffffff; white-space: nowrap; }
.benefits_h1_breakline{ content: "" !important; display: block; margin-bottom: 0px !important; }


.benefits__need__div{ display: block; margin: 0px; padding: 20px; background-color: #eeeeee; }
.benefits__need__div h1{ display: block; font-size: 35px; font-weight: 700; margin: 0px; padding: 0px; color: #000000; }
.benefits__need__div h1 span{ font-weight: 400; margin: 0px; padding: 0px;  }
.benefits__need__div p{ display: block; margin: 0px; margin-top: 12px; padding: 0px; line-height: 1.6; font-size: 16px; color: #000000; }


@media screen and (max-width: 860px){ .benefits_list_element{ width: calc(50% - 10px); margin-bottom: 20px; } .benefits_h1{ margin-top: 10px; } }
@media screen and (max-width: 425px){ .benefits_svg{ height: 60px; } .benefits_h1{ font-size: 18px; } .benefits_list_element{ width: calc(50% - 5px); margin-bottom: 10px; padding: 15px 0px;} }
@media screen and (max-width: 375px){ .benefits_svg{ height: 50px; } }
/* -------------------------------------------- BENEFITS -------------------------------------------- */




/* -------------------------------------------- INTRODUCTION -------------------------------------------- */
.introduction_section{ display: block; max-width: 1025px; height: fit-content; margin: 0px auto; padding: 0px 20px; }
.description__container{ display: flex; flex-direction: row; justify-content: space-between; margin: 80px 0px; padding: 0px; width: 100%; min-height: 500px; overflow: hidden; }
.description__img__cover{ display: block; width: calc(50% - 10px); height: auto; margin: 0px; padding: 0px; background-image: url("img/coach_manu_trerè_unzoomed.webp"); background-size: cover; background-position: center; }
.description__img__auto{ display: none; width: 100%; height: fit-content; margin: 0px; margin-bottom: 22px; padding: 0px; }

.description__img_container{ display: flex; align-items: center; justify-content: center; width: calc(50% - 10px); height: auto; margin: 0px; padding: 0px; background-color: #eeeeee; }
.description__img_content{ display: block; width: 80%; height: auto; margin: 0px; padding: 0px; }

.description__content{ display: flex; flex-direction: column; justify-content: space-between; width: calc(50% - 10px); height: auto; margin: 0px; padding: 0px; }
.description__text{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.description__title{ display: block; width: 100%; height: fit-content; margin: 0px; margin-bottom: 12px; padding: 0px; font-size: 35px; font-weight: 700; } .description__rule{ font-weight: 400; }
.description__paragraph{ display: block; line-height: 1.6; font-size: 16px; width: 100%; height: fit-content; text-decoration: none; margin: 0px; padding: 0px; text-align: justify; }
.description__paragraph_breakline{ content: "" !important; display: block; margin-bottom: 18px !important; }

.description__cta_container{ display: flex; flex-direction: row; justify-content: space-between; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.description__cta_element{ display: block; width: calc(50% - 5px); height: fit-content; margin: 0px; padding: 10px 0px; font-size: 20px; border: 0px; border-radius: 0px; background-color: #008CFF; color: #ffffff; text-align: center; cursor: pointer; }
.gray_cta{ background-color: #898989; color: #ffffff; }

.description__info{ display: block; width: 100%; height: fit-content; margin: 26px 0px; padding: 0px; }
.description__info_element{ display: flex; flex-direction: row; align-items: center; margin: 0px; margin-bottom: 10px; padding: 0px; }
.description___span{ display: block; font-size: 16px; margin: 0px; padding: 0px; }
.description__svg{ display: block; width: 22px; height: auto; margin: 0px; margin-right: 10px; padding: 0px; fill: #000000; }
#description___custom_svg{ height: 26px; }

@media screen and (max-width: 725px){ .description__container{ flex-direction: column; } .reverse_container{ flex-direction: column-reverse;} .description__img__cover{ display: none; } .description__img__auto{ display: block; } .description__content{ width: 100%; height: fit-content; } .description__img_container{ width: 100%; height: fit-content; margin-bottom: 22px; } .description__img_content{ width: 70%; margin: 60px 0px; } }
@media screen and (max-width: 465px){ .description__paragraph{ text-align: left; }}
@media screen and (max-width: 365px){ .description__cta_container{ width: 100%; flex-direction: column; } .description__cta_element{ width: 100%; } .gray_cta{ margin-top: 20px; } .description__img_content{ width: 80%; margin: 40px 0px; } }
/* -------------------------------------------- INTRODUCTION -------------------------------------------- */






/* -------------------------------------------- REVIEW -------------------------------------------- */
.review_section{ display: block; max-width: 1025px; margin: 0px auto; padding: 0px 20px; }
.review__container{ display: block; width: 100%; height: fit-content; margin: 0px; margin-bottom: 40px; padding: 20px; box-shadow: rgb(0 0 0 / 20%) 0px 1px 4px; overflow: hidden; }
.review__star_container{ display: flex; flex-direction: row; align-items: center; margin: 0px; padding: 0px; white-space: nowrap; }
.review__star{ display: block; width: 20px; fill: #ffae00; margin: 0px; padding: 0px; }
.review__name{ display: block; font-size: 22px; font-weight: 700; color: #000000; margin: 0px; padding: 0px; }
.review__text{ display: block; font-size: 16px; font-weight: 400; color: #000000; margin: 10px 0px; padding: 0px; line-height: 1.6; }
.review__breakline{ content: "" !important; display: block !important; margin-bottom: 16px !important; }
/* -------------------------------------------- REVIEW -------------------------------------------- */




/* -------------------------------------------- COMPARISON CARD -------------------------------------------- */
.comparison_section{ display: flex; flex-direction: row; justify-content: space-between; max-width: 1025px; margin: 80px auto; padding: 0px 20px; }
.comparison_card{ display: block; width: calc(50% - 10px); margin: 0px; padding: 20px; background-color: #01b321; }
.comparison_card__h1{ display: block; width: fit-content; font-size: 30px; margin: 0px; padding: 0px; color: #ffffff; }
.comparison_card__h1__span{ font-weight: 400; }
.comparison_card__h1__brealine{ content: "" !important; display: block !important; margin-bottom: 0px !important; }
.comparison_card__list{ display: block; margin: 0px; margin-top: 20px; padding: 0px; font-size: 18px; color: #ffffff; }
.comparison_card__list_element{ display: flex; flex-direction: row; align-items: center; margin: 0px; margin-bottom: 10px; padding: 0px; }
.comparison_card__list_element__svg{ display: block; min-width: 22px; width: 22px; fill: #ffffff; margin: 0px; padding: 0px; }
.comparison_card__list_element__span{ display: block; margin: 0px; margin-left: 10px; padding: 0px; }

.comparison_red_svg{ fill: #b70000; }
.comparison_green_svg{ fill: #00ff2f; }
.red_card{ background-color: #dd0000; }

@media screen and (max-width: 565px){ .comparison_section{ display: block; } .comparison_card{ width: 100%; margin: 0px; } .red_card{ margin-bottom: 40px; } }
@media screen and (max-width: 465px){ .comparison_card__list_element__svg{ min-width: 20px; width: 20px; } .comparison_card__h1{ font-size: 26px; } } 
/* -------------------------------------------- COMPARISON CARD -------------------------------------------- */




/* -------------------------------------------- SUBSCRIPTION PLANS -------------------------------------------- */
.section_subscription_plans{ display: block; max-width: 1025px; height: fit-content; margin: 80px auto; padding: 0px 20px; }
.subscription_plans__wrapper{ display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%; height: fit-content; overflow-y: hidden; overflow-x: scroll; }
.subscription_plans__h1{ display: block; width: 100%; height: fit-content; margin: 0px; margin-bottom: 20px; padding: 0px; font-size: 30px; color: #000000; }
.subscription_plans__h1_breakline{ content: "" !important; display: none; margin-bottom: 0px !important; }

.subscription_plans__container{ display: block; width: fit-content; min-width: 300px; height: fit-content; margin: 0px; margin-bottom: 20px; padding: 20px; border: 1px solid #e3e3e3; overflow: hidden; }

.subscription_plans__name{ display: block; font-size: 24px; font-weight: 400; text-align: center; width: 100%; height: fit-content; margin: 0px; margin-bottom: 34px; padding: 10px 0px; }
.basic_plan{ background-color: #e3e3e3; color: #000000; }
.pro_plan{ background-color: #ffd000; color: #000000; }
.elite_plan{ background-color: #000000; color: #ffd000; }

.subscription_plans__cost{ display: flex; flex-direction: row; align-items: baseline; justify-content: center; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.subscription_plans__price{ display: block; font-size: 34px; font-weight: 700; margin: 0px; padding: 0px; }
.subscription_plans__monthly{ display: block; font-size: 22px; margin: 0px; padding: 0px; }

.subscription_plans__list{ display: block; width: 100%; height: fit-content; margin: 20px 0px; padding: 0px; }
.subscription_plans__list_element{ display: flex; flex-direction: row; align-items: center; width: 100%; height: fit-content; margin: 0px; margin-bottom: 10px; padding: 0px; }
.subscription_plans__list_element:last-child{ margin-bottom: 0px; }
.subscription_plans__feature_svg{ display: block; min-width: 20px; width: 24px; height: auto; margin: 0px; margin-right: 10px; padding: 0px; }
.subscription_plans__feature_span{ display: block; font-size: 18px; /*white-space: nowrap;*/ }
.grey_icon{ fill: #838383; /*#a7a7a7*/ }
.green_icon{ fill: #01b321; }
.red_icon{ fill: #ff0000; }

.subscription_plans__addToCart{ display: block; width: 100%; height: fit-content; font-size: 18px; text-align: center; margin: 0px; margin-top: 30px; padding: 10px 0px; background-color: #008CFF; color: #ffffff; cursor: pointer; }
#subscription_middle_plan{ margin-left: 20px; margin-right: 20px; }

.subscription_plans__wrapper::-webkit-scrollbar{ height: 10px; }
.subscription_plans__wrapper::-webkit-scrollbar-track { background: #dddddd; }
.subscription_plans__wrapper::-webkit-scrollbar-thumb { background: #888; }
.subscription_plans__wrapper::-webkit-scrollbar-thumb:hover { background: #555; }

@media screen and (max-width: 565px){ .subscription_plans__h1_breakline{ display: block; } }
@media screen and (max-width: 465px){
    .subscription_plans__wrapper{ display: block; overflow: hidden; height: fit-content; }
    .subscription_plans__container{ width: 100%; margin: 0px; margin-bottom: 40px; min-width: 150px; }
    .subscription_plans__container:last-child{ margin: 0px; }
    #subscription_middle_plan{ margin: 0px; margin-bottom: 40px; }
    .subscription_plans__feature_svg{ width: 20px; }
}
/* -------------------------------------------- SUBSCRIPTION PLANS -------------------------------------------- */




/* -------------------------------------------- WORKOUT PLANS -------------------------------------------- */
.section_workout_plans{ display: block; max-width: 1025px; margin: 80px auto; padding: 0px 20px; }
.workout_card__scroll{ display: flex; flex-direction: row; align-items: center; width: 100%; height: fit-content; overflow-y: hidden; overflow-x: scroll; }

.workout_card{ display: block; min-width: 240px; max-width: 240px; margin: 0px; margin-right: 20px; margin-bottom: 20px; padding: 0px; background-color: #ffffff; }
.workout_card__cover{ display: block; width: 100%; height: 220px; margin: 0px; padding: 0px; border: none; }
.workout_card__description{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 20px; border: 1px solid #d5d5d5; }
.workout_card__description h1{ display: block; width: 100%; height: fit-content; white-space: nowrap; font-size: 18px; margin: 0px; padding: 0px; overflow: hidden; }
.workout_card__description p{ display: block; width: 100%; height: 78px; font-size: 16px; line-height: 1.6; margin: 0px; margin-top: 5px; padding: 0px; overflow: hidden; }
.workout_card__description a{ display: block; font-size: 16px; font-weight: 400; text-align: center; margin: 0px; margin-top: 20px; padding: 10px 0px; color: #ffffff; background-color: #01b321; cursor: pointer; }
.workout_price{ display: inline-block; margin: 0px; margin-left: 10px; padding: 0px; color: #ffffff; }

.workout_card:last-child{ margin-right: 0px !important; }

.workout_plans__h1{ display: block; width: 100%; height: fit-content; margin: 0px; margin-bottom: 20px; padding: 0px; font-size: 30px; color: #000000; }
.workout_plans__span{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 0px; font-size: 20px; font-weight: 400; color: #878787; }

.workout_card__scroll::-webkit-scrollbar{ height: 10px; }
.workout_card__scroll::-webkit-scrollbar-track { background: #dddddd; }
.workout_card__scroll::-webkit-scrollbar-thumb { background: #888; }
.workout_card__scroll::-webkit-scrollbar-thumb:hover { background: #555; }
/* -------------------------------------------- WORKOUT PLANS -------------------------------------------- */






/* -------------------------------------------- CONTACT FORM -------------------------------------------- */
.section_contact{ display: block; max-width: 1025px; height: fit-content; margin: 80px auto; padding: 0px 20px; }
.contact_form_container{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.contact_form_div{ display: block; width: 100%; height: fit-content; margin: 0px; margin-bottom: 20px; padding: 0px; background-color: #ffffff; }
.contact_form_h1{ display: block; font-size: 30px; white-space: nowrap; margin: 0px; padding: 0px; }
.contact_form_paragraph{ display: block; font-size: 18px; margin: 0px; padding: 0px; color: #878787; }
.contact_form_paragraph_breakline{ content: "" !important; display: block; margin-bottom: 16px !important; }
.contact_form_link{ color: #000000; text-decoration: underline; text-underline-offset: 4px; }
.contact_form_input{ display: block; width: 100%; margin: 0px; margin-bottom: 20px; padding: 15px; font-size: 18px; border-radius: 0px; border: 1px solid #dddddd; }
.contact_form_submit{ display: block; width: 100%; margin: 0px; padding: 15px 0px; font-size: 18px; text-align: center; border: 0px; background-color: #008CFF; color: #ffffff; }
.select_box_wrapper{ display: block; position: relative; width: 100%; height: fit-content; margin: 0px; padding: 0px; }
.select_box_svg{ display: block; position: absolute; top: 50%; right: 10px; width: 20px; margin: 0px; padding: 0px; transform: translateY(-50%); fill: #979797; z-index: -1; }
.select_box{ 
    -webkit-appearance: none;
    appearance: none;
    color: #757575;
    background: transparent;
    z-index: 1;
}
.select_box option{ color: #000000; }
/* -------------------------------------------- CONTACT FORM -------------------------------------------- */





/* -------------------------------------------- FOOTER -------------------------------------------- */
.section_footer{ display: block; max-width: 1025px; height: fit-content; margin: 80px auto; padding: 0px 20px; }
.footer__logo{ display: block; width: auto; height: 54px; margin: 0px; padding: 0px; fill: #000000; }
.footer__logo svg{ display: block; width: auto; height: 100%; margin: 0px; padding: 0px; fill: #000000; }

.footer__nav_social{ display: flex; flex-direction: row; align-items: center; margin: 0px; padding: 0px; }
.footer__nav_social_element{ display: block; margin: 0px; padding: 0px; }
.footer__nav_social_element svg{ display: block; width: 40px; height: auto; margin: 0px; padding: 20px 0px; }

.footer__nav_social_element .instagram_svg{ margin: 0px 20px; }
.facebook_svg{ fill: #008CFF; }
.instagram_svg{ fill: #ec00ff; }
.youtube_svg{ fill: #ff0000; }

.footer_business_name{ display: block; }
.footer_business_logo{ display: none; }

.footer__nav_info{ display: block; width: 100%; height: fit-content; margin: 0px; margin-top: 20px; padding: 0px; }
.footer__nav_info_element{ display: block; margin: 0px; padding: 0px; font-size: 16px; font-weight: 400; color: #000000; text-decoration: none; }
.footer__nav_info_element span{ display: block; margin: 0px; padding: 0px; }
.footer__nav_info_element .span_bold{ font-weight: 700; }

.footer__paragraph{ display: block; font-size: 14px; font-weight: 400; margin: 0px; padding: 0px; color: #8d8d8d; line-height: 1.4; }
.footer__copyright{ display: block; font-size: 14px; font-weight: 400; margin: 20px 0px; padding: 0px; padding-top: 20px; color: #8d8d8d; border-top: 1px solid #c5c5c5; }
@media screen and (max-width: 225px){ .footer_business_name{ display: none; } .footer_business_logo{ display: block;} }
/* -------------------------------------------- FOOTER -------------------------------------------- */





/*------------------------------------- Developer Credits -------------------------------------*/
.developer_container{ display: block; width: 100%; height: fit-content; margin: 60px 0px 120px 0px; display: flex; justify-content: center; background-color: #f5f5f5; padding: 20px 0px; text-decoration: none; }

.developer_content{ width: fit-content; }
.developer_madeby{ font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 20px; margin: 0px; margin-bottom: 10px; width: 100%; color: #707070; text-align: center; text-decoration: none; }
.developer_logo{ width: 200px; }
.developer_copyright{ font-family: 'Roboto', sans-serif; font-size: 16px; margin: 0px; margin-top: 10px; width: 100%; color: #707070; text-align: center; text-decoration: none;}

@media screen and (max-width: 1090px){

}
/*------------------------------------- Developer Credits -------------------------------------*/