@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    /*-webkit-touch-callout: none;*//* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
    box-sizing: border-box;
}

html, body{-ms-overflow-style: none; scrollbar-width: none; position: absolute; top: 0; right: 0; margin: 0; padding: 0; width: 100% !important; min-height: 100% !important; height: fit-content; overflow: auto; }





.header{ width: 100%; height: fit-content; margin: 0; padding: 0; background-color: #4b1b31; font-family: 'Roboto', sans-serif; }
.nav_bar{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
#header__logo{ margin-left: 20px; }
#logo_textbox_white{ color: #ffffff; }
.login{ display: flex; align-items: center; margin: 0; padding: 0px 20px; font-size: 25px; /*background-color: #cec13f;*/ color: #cec13f; text-decoration: none; }




.whatsapp_shortcut{ position: fixed; bottom: 0; right: 0; margin: 0; padding: 20px; z-index: 9999;}
.whatsapp_shortcut svg{ width: 60px; }







.main_container{ margin: 0; padding: 0; width: 100%; height: fit-content; font-family: 'Roboto', sans-serif;}

.aboveFold__container{
    background-color: #4b1b31;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.aboveFold__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0px 0px 0px;
    overflow: hidden;
}
.aboveFold__cta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 70%;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    overflow: hidden;
}
#breakline-title{content: "" !important; display: block !important; margin-bottom: 0px !important;}
.cta__title{
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.cta__btn{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 20px;
    margin: 40px 0px 20px 0px;
    padding: 10px 20px;
    background-color: #cec13f;
    color: #ffffff;
    text-decoration: none;
}
.cta__text{font-size: 20px; margin: 0; margin-left: 15px; padding: 0; font-weight: 400; }
.cta__svg{ width: 25px; display: block; margin: auto; fill: #ffffff; }
.cta__address{
    display: flex;
    align-items: center;
    width: fit-content;

    font-size: 16px;
    margin: 0;
    padding: 15px 0px 25px 0px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.cta__address__svg{ width: 25px; min-width: 25px; max-width: 25px; display: block; margin: 0; padding: 0; fill: #ffffff; }
.cta__address__span{ font-size: 16px; white-space: nowrap; margin: 0; margin-left: 16px; padding: 0; }
.aboveFold__img{ display: block; width: 30%; margin: auto 0px 0px 0px; padding: 0;}








.affiliation__content{
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;

    font-size: 25px;
    font-weight: 700;
    color: #959595;
    text-decoration: none;

    background-color: #ffffff;
}
.affiliation__text{ font-weight: 400; }
.affiliation__certification{ width: 200px; }
.breakline-uni{ content: "" !important; display: none; margin-bottom: 0px !important;  }




#timetable_text{ display: block; color: #000000; font-size: 16px; margin: auto 0;}
#timetable_title{ font-weight: 700; }

.info__container{
    background-color: #cec13f;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.info__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px;
    overflow: hidden;
    height: 60px;
}
.info__nav{ display: flex; flex-direction: row;}
.info__nav_item_hitbox{ width: fit-content; height: 100%; display: flex; justify-content: center; /*background-color: aquamarine;*/ padding: 0 10px;}
.info__svg{ display: block; margin: auto; padding: 0; width: 25px;}





.ourServices_container{ width: 100%; height: fit-content; margin: 0; padding: 0; background-color: #fafafa; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12); }
.ourServices__content{max-width: 1024px; margin: 0 auto; padding: 0px 20px 20px 20px; }
.ourServices_title{ display: block; font-size: 30px; font-weight: 700; margin: 0px; padding: 30px 0px 20px 0px; color: #4b1b31;}
.ourServices__list__container{ display: flex; flex-direction: row; justify-content: space-between; }
.ourServices__list{ list-style-type: square; font-size: 18px; font-weight: 400; margin: 10px 0px; padding: 0; padding-left: 18px; width: fit-content; color: #4b1b31; }
.ourServices__list li{ margin: 0; margin-bottom: 5px; padding: 0; }
.ourServices__list li::marker, .master_simbol{ color: #cec13f; }
.master_details{
    font-size: 18px;
    color: #808080;
    display: block;
    margin: 10px 0px;
}














.aboutUs__content{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px;
    /*background-color: #00ff22;*/
}
.aboutUs__module{ width: 100%; height: fit-content; max-height: 600px; padding: 60px 0px;}
.reverse__description{ direction: rtl;}
.aboutUs__img{
    position: relative;
    display: block;
    width: calc(50% - 10px);
    height: 400px;
    float: left;

    background-color: #e2e2e2;
    /*background: url("image.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.aboutUs__description{
    width: calc(50% + 10px);
    height: 400px;
    float: left;
    margin: 0;
    padding: 0px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.aboutUs__description::-webkit-scrollbar { width: 4px; }/* width */
.aboutUs__description::-webkit-scrollbar-track { background: #e2e2e2; }/* Track */
.aboutUs__description::-webkit-scrollbar-thumb { background: #cec13f; }/* Handle */
.aboutUs__description::-webkit-scrollbar-thumb:hover { background: #4b1b31; }/* Handle on hover */
.aboutUs__description__content{
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    direction: ltr;
}
.aboutUs__h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #4b1b31;
}
.aboutUs__paragraph{ font-size: 16px; line-height: 1.4; margin: 0; margin-top: 16px; padding: 0; text-align: justify; text-justify: inter-character; color: #4b1b31; }
.breakline-paragraph{ content: "" !important; display: block !important; margin-bottom: 16px !important; }

.aboutUs__cta__container{ width: 100%; height: fit-content; margin: 0; padding: 0;}
.aboutUs__cta{
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
    background-color: #cec13f;
    color: #ffffff;
    text-decoration: none;
    direction: ltr;

    float: left;
    overflow: hidden;
    white-space: nowrap;
    justify-content: left;
    /*min-width: 180px;*/

    margin-right: 10px;
}
.aboutUs__cta__span{font-size: 20px; margin: 0; margin-left: 15px; padding: 0; font-weight: 400; }
.aboutUs__cta__svg{ width: 25px; display: block; margin: auto 0 ; fill: #ffffff; margin-left: 20px; }
.right_btn{ margin-right: 0px; margin-left: 10px; }
.boldtext{ font-weight: 400; margin: 0; padding: 0; border: none; display: inline-block; letter-spacing: 0px; word-spacing: 0px;}


#office_img{ background: url("img/studio02.png") no-repeat center; background-size: cover; }
#teaching_img{ background: url("img/volantino.png") no-repeat center; background-size: cover; }
#class_img{ background: url("img/classe01.png") no-repeat center; background-size: cover; }
#quality_img{ background: url("img/qualità.png") no-repeat center; background-size: cover; }
#pro_img{ background: url("img/sede.png") no-repeat center; background-size: cover; }
#book_img{background: url("img/BookBg.png") no-repeat center; background-size: cover; }







@keyframes loading-circle-animation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading-circle-wrapper{ width: 100%; height: 100%; margin: 0; padding: 0; position: absolute; top: 0; left: 0; overflow: hidden; display: flex; justify-content: center; align-items: center;}
.loading-circle{
    width: 15%;
    animation: loading-circle-animation 1.3s linear infinite;
    animation-play-state: running;
}
#loading-circle-full{fill: #ffffff;}
#loading-circle-quarter{fill: #cec13f;}















.address__container{
    background-color: #cec13f;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.address__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px;
    overflow: hidden;
    height: 120px;
}
.address__btn{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 20px;
    margin: 40px 0px 20px 0px;
    padding: 10px 20px;
    background-color: #cec13f;
    color: #ffffff;
}
.address__text{font-size: 20px; margin: 0; margin-left: 15px; padding: 0; font-weight: 400;}
.address__svg{ width: 25px; display: block; margin: auto; fill: #ffffff; }
.address__info{font-size: 20px; margin: auto 0; margin-left: 15px; padding: 0; font-weight: 400;}







.map__content{
    max-width: 1024px;
    max-height: 800px;
    margin: 0 auto;
    padding: 60px 20px;
}
.map__description{ width: calc(50% + 10px); height: 600px; margin: 0; padding: 0px 20px; float: left; overflow-y: scroll; overflow-x: hidden; display: flex; flex-direction: column; justify-content: space-between;}
.map__iframe{ display: block; position: relative; width: calc(50% - 10px); height: 600px; margin: 0; padding: 0px; float: left; background: #e2e2e2;}
.iframe__content{ width: 100%; height: 100%; margin: 0; padding: 0; position: absolute; top: 0; left: 0; }
.direction_span{ font-weight: 700; }



.map__description::-webkit-scrollbar { width: 4px; }/* width */
.map__description::-webkit-scrollbar-track { background: #e2e2e2; }/* Track */
.map__description::-webkit-scrollbar-thumb { background: #cec13f; }/* Handle */
.map__description::-webkit-scrollbar-thumb:hover { background: #4b1b31; }/* Handle on hover */



.map__btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;

    width: 50%;
    height: fit-content;

    margin: 0px;
    padding: 0;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: #cec13f;
    text-decoration: none;
}
.map__svg{ width: 25px; display: block; margin: auto 0; fill: #ffffff; }
.map__span{font-size: 20px; margin: 0; margin-left: 15px; padding: 0; font-weight: 400; }
.position_btn{
    width: 100%;
    margin-bottom: 20px;
    background: #e2e2e2;
    color: #4b1b31;
}
.position_svg{ fill: #4b1b31;}
.dark_btn{ background-color: #4b1b31; }


















.iframe_container{
    max-width: 1024px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 0px 20px;
    /*background-color: #09ff00;*/
}
.iframe_wrapper{
    background-color: #e2e2e2;
    padding-top: 56.25%;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: block;
}
.iframe_wrapper .iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
}















.footer{
    max-width: 1024px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 0px 20px;

    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    text-decoration: none;
}
.footer__content{ width: 100%; height: fit-content; border-top: solid 2px #e2e2e2; border-bottom: solid 2px #e2e2e2;}





.logo_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
}
.logo_textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-right: 20px;
}
.logo_textbox span{display: inline-block; white-space: nowrap;}
#logo_title{ font-family: 'Playfair Display', serif; font-weight: 400; font-size: 26px;}
#logo_subtitle{ font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 20px;}
.logo_svg{ width: 50px; fill: #cec13f; }





.footer__content ul{ list-style-type: none; padding: 0; margin: 0; font-size: 16px; color: #000000; }
.footer__content li{ padding: 0; margin: 0; margin-bottom: 20px; font-size: 16px; color: #000000; }
.footer__content a{ text-decoration: none; color: #000000; }
.footer__span{font-weight: bold;}


.footer__content nav{ display: flex; align-items: center; width: fit-content; height: fit-content; margin: 0; margin-bottom: 20px; padding: 0;}
.footer__content nav a{ margin: auto 0; padding: 0px 10px; }
.footer__content nav a:first-of-type{ padding-left: 0px; }
.footer__svg{ width: 40px; margin: auto 0; padding: 0; cursor: pointer; }

#facebook_svg{ fill: #00b1ff; }
#instagram_svg{ fill: #ec00ff; }
#whatsapp_svg{ fill: #2fb844; }

.footer__copyright{ display: block; width: fit-content; height: fit-content; padding: 0; margin: 0; margin-top: 20px; font-size: 14px; color: #000000; }


















.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */










@media screen and (max-width: 925px){

    .span_now{ display: none; }
}
@media screen and (max-width: 875px){

    .aboutUs__module, .map__content{ max-height: none; display: flex; flex-direction: column;}
    .reverse__module{ flex-direction: column-reverse; }
    
    .aboutUs__description, .map__description, .aboutUs__img, .map__iframe{ width: 100%; float: none; }
    .aboutUs__description, .map__description{ padding: 0px ; height: fit-content; overflow-y: hidden; }
    .aboutUs__description, .map__description, .aboutUs__cta__container, .position_btn{ margin-top: 30px; }

    .map__description .aboutUs__cta__container{ margin-top: 0px; }

    .aboutUs__module{ padding-bottom: 0px;}
    .aboutUs__module:last-of-type{ padding-bottom: 60px;}

    .ourServices__list__container{ flex-wrap: wrap; }
    .ourServices__list{ min-width: 300px; }
}
@media screen and (max-width: 675px){

    .breakline-uni{ display: block !important; }
}
@media screen and (max-width: 585px){

    .aboveFold__img{ display: none; }
    .aboveFold__cta{ width: 100%; padding: 0px 20px 0px 20px; }
}

@media screen and (max-width: 525px){

    .info__content{
        height: fit-content;
        min-height: fit-content;
        flex-direction: column;
    }
    #timetable_text{ width: 100%; margin: 10px 0px 5px 0px; text-align: center; }
    .info__nav{ width: 50%; height: 50px; margin: 0 auto; padding: 0; justify-content: space-between; }

    .cta__title, .cta__address__span{ white-space: normal; }

    .affiliation__text{ display: none; }
    .affiliation__content{ justify-content: center; }
    .affiliation__certification{ margin: 0 auto; }

    .ourServices__list__container{ display: flex; flex-direction: column; }
    .ourServices__list{ width: fit-content; min-width: fit-content; float: none;}

    .loading-circle{ width: 20%; }
    .aboutUs__img{ height: 300px; }
    .map__iframe{ height: 500px; }

}
@media screen and (max-width: 435px){ .cta__title{font-size: 45px;} #logo_textbox_white{display: none;} }
@media screen and (max-width: 390px){ .cta__title{font-size: 40px;} .info__nav{ width: 80%; justify-content: space-around; } }
@media screen and (max-width: 370px){

    .aboutUs__cta__container{ flex-wrap: wrap; }
    .aboutUs__cta{ width: 100%; margin: 0; }
    .right_btn{ margin-top: 20px; }
    .footer .logo_svg{ display: none; }
}
@media screen and (max-width: 325px){

    .cta__btn{ width: 100%; justify-content: center;}
    .cta__btn .cta__svg{ margin: 0; }
}
@media screen and (max-width: 255px){ .cta_now_span{ display: none;} }
@media screen and (max-width: 225px){ .map__btn{ padding: 10px 0px; text-align: center;} .position_svg{ display: none;} .map__span{ margin: 0 auto;} }
@media screen and (max-width: 195px){

    .cta__svg, .aboutUs__cta__svg, .position_svg{ display: none;}
    .cta__text, .aboutUs__cta__span, .map__span{ margin: 0 auto;}
}